*{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;

}

/*styles timer area*/


#timer_area{

    background-color: #3a4d4c;
    color: #fff;
    padding-bottom: 6em;

}


#header_site{

    padding: 2.5em 0;
    margin: auto;
    width: 80%;
    font-size: 26px;

}

#header_timer{

    text-align: center;
    text-transform: uppercase;

}

#body_timer{

    margin: auto;
    width: 50%;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

}

.buttons{

    text-align: center;
    padding: 1em;

}



.button_timer_control{

    border: none;  
    width: 150px;
    height: 40px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size:18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

}

#pomodoro{

    background-color: rgba(0, 0, 0, 0.35);

}

#timer_display{

    text-align: center;
    font-size: 120px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.button_timer_control:active {

    box-shadow: none;

}

.button_timer_control:hover{

    cursor: pointer;

}

/*Articles area*/

#articles_area{

    width: 65%;
    margin: auto;
    padding: 1em;    

}

#articles_area h1{

    color: #171F1E;

}

.info_text{

    font-size: 16px;
    line-height: 1.6em;
    padding-bottom: 1em;

}

.text_links a {

    color:#25362F ;
    font-weight: bold;
    

}

/*Footer area*/

#footer_site{

    text-align: center;
    padding: 1em;

}

#nav_footer{

    padding: 1em;
    text-align: center;

}

#nav_footer a{

    color: #000;
    margin: 0 5px;

}

.copy{

    font-size: 12px;
    line-height: 18px;

}




@media only screen and (max-width: 715px){
   
   /*Timer area*/
   
    .button_timer_control{

        width: 120px;
        font-size: 16px;
        height: 35px;
        

    }


    /*Articles area*/

    #articles_area{

        width: 80%;
    

    }

}

@media only screen and (max-width: 650px){

    
    /*Timer area*/
    #body_timer{

        width: 55%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

    }

    

    #timer_display{

        font-size: 100px;

    }
    
}

@media only screen and (max-width: 550px){

    
    /*Timer area*/
    #header_site{

        width: 70%;
        font-size: 22px;
        

    }
    
    #body_timer{

        width: 70%;

    }


}

@media only screen and (max-width: 450px){


    /*Timer area*/
    #header_site{


        font-size: 18px;

    }
    
    #body_timer{

        width: 80%;

    }

    /*Articles area*/

    #articles_area{

        width: 85%;
        font-size: 12px;

    }

    #articles_area h1{

        font-size: 18px;

    }

}

@media only screen and (max-width: 375px) {


    /*Timer area*/
    #header_timer{

        
        font-size: 28px;
        

    }
   
    #body_timer{

        width: 95%;

    }
    
    .button_timer_control{

        width: 100px;
        font-size: 14px;

    }

    #timer_display{

        font-size: 90px;

    }

    /*Articles area*/

    #articles_area{

        width: 90%;
        font-size: 10px;

    }
    
}

@media only screen and (max-width: 275px){


    #header_timer{

        font-size: 24px;
        

    }

    .button_timer_control{

        width: 90px;
        font-size: 12px;

    }

}